<html>
<head>
    <title>Modular Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../css/error.css">

</head>

    <body>
       <div class="error">
            <div>
                <%= error.message%>
            </div>
            <div>
                Error Numeber: <%= error.number%>
            </div>
        </div>
    </body>
</html>